---
import App from '../../../src/App.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparrow AI Tech</title>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>
