# Jekyll and GitHub Pages
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler and Ruby
vendor/
Gemfile.lock

# Node.js
node_modules/

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Editor and OS files
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
*.iml

# System files
*.bak
*.orig

# Custom project files
.env

# Exclude test artifacts
coverage/

# Exclude Cypress artifacts (if using Cypress)
cypress/screenshots/
cypress/videos/
cypress/downloads/ 

dist/
build/
_site/
